<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/about.css">
  <title>Yoga Express</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/history">History</a>
        </li>
        <li>
          <a href="/sequences">Sequences</a>
        </li>
        <li>
          <a href="/sequences/new">New Sequence</a>
        </li>
        <li>
          <a href="/poses">Poses</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>About Us</h1>
    <h3>We are human beings passionate about being passionate about the things that matter.</h3>
    <div class="card" style="width: 18rem;">
      <img src="/images/Leah.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Leah is a yoga instructor and software engineer based in Los Angeles, California</p>
      </div>
    </div>
    <div class="card2" style="width: 18rem;">
      <img src="/images/Leah.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Stephen is a software engineer based in Atlanta, Georgia</p>
      </div>
    </div>
  </div>
  <div class="card3" style="width: 18rem;">
    <img src="https://i.pinimg.com/originals/e4/27/e5/e427e5050d25235fe8f60c5940d53809.gif" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
  </div>
  </main>

</body>
</html>