<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/history.css">
  <title>Yoga Express</title>
</head>
<body>
  <header>


    <nav class="nav">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
            <a href="/About">About</a>
          </li>
        <li>
          <a href="/sequences">Sequences</a>
        </li>
        <li>
          <a href="/sequences/new">New Sequence</a>
        </li>
        <li>
          <a href="/poses">Poses</a>
        </li>
      </ul>
    </nav>

  </header>

  <main>
    <h1 class="underline">History of Yoga</h1>
  </main>

 <!-- Image -->
 <div>
     <img src="https://i1.wp.com/s3-us-west-2.amazonaws.com/masjcsimgs/wp-content/uploads/2018/06/05132816/yoga4.png?fit=438%2C319&ssl=1" alt="">
 </div>

 <section id="history">
    <article id="one">
        <h5 class="underline">Yoga Begins</h5>
      <p>
        Yoga is a popular way to increase flexibility, gain strength, and reduce stress. But it’s also a 5,000-year-old system of mental and physical practices originating in India, which includes philosophy, meditation, breath work, lifestyle and behavior principles, and physical exercise.

        There is no singular fixed yoga tradition. Yoga’s history is vast and complex, with dozens — perhaps hundreds — of texts, teachers, and traditions that sometimes agree with and sometimes contradict one another. The practices we recognize today are the result of the creative merging and development of philosophies over thousands of years, including Hinduism, Buddhism, and Jainism.
      </p>
    </article>

    <section id="history">
        <article id="two">
            <h5 class="underline">Yoga Comes to America</h5>
          <p>
            In 1893, religious teacher Swami Vivekananda, considered a major force in the revival of Hinduism in modern India, introduced Americans to the philosophical side of yoga when he addressed the Parliament of Religions at the World’s Fair in Chicago.

            And in 1920, the influential guru Paramahansa Yogananda founded the Self-Realization Fellowship in Los Angeles to disseminate the meditation techniques of Kriya yoga. His bestselling 1946 Autobiography of a Yogi continues to inspire westerners seeking knowledge of yoga philosophy and Eastern spirituality.
          </p>
        </article>
  
        <section id="history">
            <article id="three">
               <h5 class="underline">Yoga Today</h5> 
              <p>
                It is estimated there are about 16 million yoga practitioners in America today. The yoga market was worth nearly $5.7 billion per year in 2008 — an increase of 87 percent from 2004. And the North American Studio Alliance estimated in 2005 that there are over 70,000 yoga teachers in North America alone.
              </p>
            </article>
                 
<footer>
    <p><a href="https://www.yogaoutlet.com/blogs/guides/history-of-yoga">reference page</a></p>
</footer>
  

</body>
</html>