<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/index.css">
  <title>Yoga Express</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/About">About</a>
        </li>
        <li>
          <a href="/history">History</a>
        </li>
        <li>
          <a href="/sequences">Sequences</a>
        </li>
        <li>
          <a href="/sequences/new">New Sequence</a>
        </li>
        <li>
          <a href="/poses">Poses</a>
        </li>
      </ul>
    </nav>
  </header>

  <!-- img for home pages -->
  <main role="main" class="inner cover">
    <h1 class="underline">Home</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</body>
</html>