<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Yoga Express</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/sequences">Sequences</a>
        </li>
        <li>
          <a href="/sequences/new">New Sequence</a>
        </li>
        <li>
          <a href="/poses">Poses</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/history">History of Yoga</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>My Sequences</h1>

    <% if(sequences.length) { %>
        <% sequences.forEach((sequence) => { %>
            <a href="/sequences/<%= sequence._id %>">
            <h4><%= sequence.name %></h4>
        </a>
        <% }) %>
      <% } else { %>
        <h4>No sequences found</h4>
   <% } %>

  </main>
</body>
</html> 